* {
	margin: 0;
	padding: 0;	
}
@font-face {
    font-family: 'Pragmatica Regular'; /* Гарнитура шрифта */
    src: url(../fonts/Pragmatica Regular.Ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'Pragmatica Bold'; /* Гарнитура шрифта */
    src: url(../fonts/Pragmatica Bold.Ttf); /* Путь к файлу со шрифтом */
   }   

body {
	background: url(../images/pic/bg2.png);
}

.conteiner {
	width: 980px; 
	margin: 0 auto;
	border: 1px solid green; 
}

.header {
	position: relative; /* Чтобы помещенный внутрь контейнер наследовал свойства */
	height: 180px;
	/* border: 1px solid red; */
}

.logo {
	position: absolute;
	left: 402px; /* Положение от левого края */
	bottom: 40px; /* Положение от низа */		
}
.logo-gallery {
	position: absolute;
	left: 442px; /* Положение от левого края */
	bottom: 40px; /* Положение от низа */
}
.contact-1 {
	position: absolute; 
	left: 0px; /* Положение от левого края */
	width: 360px;
	height: 30px;
	bottom: 30px; /* Положение от низа */
	/* border: 1px solid red;  */
	font-family: Pragmatica, sans-serif;
			
}
.contact-1 ul{
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}
.contact-1 ul li{
	text-align: right;
	color: #969696;
	list-style: none;
}
.contact-1 ul li:hover{
	cursor: pointer;
	color: white;
	font-weight: bold;	
}

.contact-1 ul li a{
	text-align: right;
	color: #969696;
	list-style: none;
	text-decoration: none;
}
.contact-1 ul li a:hover{
	cursor: pointer;
	color: white;
	font-weight: bold;	
	text-decoration: none;
}

.content-wp {
	margin-top: 0px;
}
.content-wp:after {
	content: '';
	display: block;
	clear: both;
}
.category-list {
	float: left;
	width: 360px;
	height: 475px;
	font-family: Pragmatica, sans-serif;
	font-weight: normal;
	background: url('../images/pic/main_menu_background.jpg');
	/* border: 1px solid red; */
	/* background-position: 0px -140px; */
}

.category-list ul{
	font-size: 14px;
	color: #969696;
	list-style: none;
	/* text-transform: uppercase; */
}

.category-list ul li {
	margin-bottom: 10px;
	text-align: right;
	font-weight: normal;
	
}

.category-list ul li:hover {
	cursor: pointer;
	color: white;
	font-weight: bold;
}

.product-icons-box {
	float: left;
	width: 515px;
	margin-left: 40px;
	/* border: 1px solid green; */
}



.product-icons-box .icon-wp {
	float: left;
	margin: 0 14px 15px 0;
	width: 85px;
	height: 85px;
	background: #a0a0a0;
}
.end{
	width: 480px;
	height: 25px;
	float: left;
	/* border: 1px solid white; */
	background: url('../images/pic/menu_under_knopka.png');
	background-position: -50px; 
}

.footer {
	/* border-top: 2px solid  #a0a0a0;	 */
	height: 30px;
	margin-top: 10px;
	font-family: Pragmatica, sans-serif;
}

.footer ul{
	list-style: none;
	margin-left: 390px;
	
}

.footer ul li {
	display: inline-block;
	/*border-left: 1px solid #a0a0a0;*/
	margin-right: 10px;
	padding-left: 10px;
}

.footer li a {
	font-size: 16px;
	color: #969696;
	line-height: 30px;
	text-decoration: none;
}

.footer li a:hover {
	text-decoration: none;
	color: white;
}

/* Для страницы контактов */
.adress{
	height: 150px;
	width: 500px;
	color: white;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 400px;
	font-family: sans-serif;
	font-weight: normal;
	list-style: none;
}     
.adress ul{
	list-style: none;
} 
.end-contact{
	width: 328px;
	height: 25px;
	float: left;
	margin-left: 400px;
	background: url('../images/pic/menu_under_knopka.png');
}       
   /* Для страницы галерея */
   
.picture{
	/* border-radius: 10px; */
	height: 400px;
	margin: 20px auto;
	width: 600px;
	/* border: 1px solid red; */
	
}  
.picture-print{
	/* border: 1px solid red; */ 	
	height: 100px;
	margin: 20px auto;
	width: 600px;
	border-radius: 5px;
	background-color: #d3c093;
}	
.menu-knopka{
	width: 600px;
	height: 25px;
	margin: auto;
	/* border: 1px solid red; */
	/*opacity: 0.5; /* Полупрозрачность элемента */ 
	background: url('../images/pic/menu_under_knopka.png')
}

.menu-knopka-left{
	width: 25px;
	height: 25px;
	margin-left: 247px;
	background: url('../images/pic/knopka_left_1.png');
	float: left;
}
.menu-knopka-left:hover{
	background: url('../images/pic/knopka_left_2.png');
}
.menu-knopka-stop{
	width: 25px;
	height: 25px;
	margin-left: 16px;
	float: left;
}
.menu-knopka-right{
	width: 25px;
	height: 25px;
	margin-left: 16px; 
	float: left;
}
.p{
	color: #760808;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: normal;
	padding: 20px 15px 15px 10px;
	
}
